streamlit>=1.37
plotly>=5.0
pandas>=2.2
numpy
sqlalchemy>=2.0
psycopg[binary]>=3.1
psycopg2-binary
passlib>=1.7
python-dateutil
pytz
python-dotenv>=1.0
requests>=2.32
openpyxl
folium
streamlit-folium
streamlit-searchbox
streamlit-autorefresh
streamlit-js-eval
pytest>=8.0
