streamlit
sqlalchemy
pandas
passlib
python-dateutil
streamlit-folium
streamlit-geolocation
folium
streamlit-searchbox
streamlit>=1.36
pandas
numpy
sqlalchemy
psycopg[binary]
openpyxl
python-dotenv
psycopg[binary]
sqlalchemy>=2.0
psycopg[binary]>=3.1
passlib>=1.7
streamlit>=1.37
sqlalchemy>=2.0
psycopg[binary]>=3.1
passlib>=1.7
pandas>=2.2
requests>=2.32
python-dotenv>=1.0

